xmpp:
  username: feedbot@example.org
  host: "example.org:5223"
  password: supersecretpassword
  muc: android@muc.example.org
  nick: Talking-Bot
repos:
  - "https://f-droid.org/repo"
  - "https://apt.izzysoft.de/fdroid/repo"
checkinterval: 15m
